@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #252525;
  margin: 0;
  padding: 0;
}

.heightContainer {
  height: calc(100vh - 100px);
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: none;
  -webkit-text-fill-color: #ffffff;
}
